<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Title</title>
</head>
<body>
	<div th:fragment="card-component" class="card" style="width: 18rem">
		<img src="#" alt="..." class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">Card Title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's contect.</p>
			<a href="#" class="btn-primary">Go somewhere</a>
		</div>
	</div>

	<form th:fragment="form-component">
		<div class="mb-3">
			<label for="exampleInputEmail" class="form-label">Email Address</label>
			<input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
			<div id="emailHelp">We'll never share your email with anyone else</div>
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword" class="form-label">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword">
		</div>
		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label for="exampleCheck1" class="form-check-label">Check me out</label>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>
</html>