<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
	<title></title>
</head>
<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled">Disabled</a>
					</li>
				</ul>
				<ul class="navbar-nav" sec:authorize="isAuthenticated()">
					<li class="nav-item">
						<form th:action="@{/logout}" method="POST">
							<button type="submit">Logout</button>
						</form>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<header th:fragment="header">
		<h1>Main page heading here</h1>
		<p>Posted by Julian Gutierrez</p>
	</header>

	<footer th:fragment="footer">
		<p>Author: Julian Gutierrez</p>
		<p><a href="#">julian@codeup.com</a></p>
	</footer>
</body>
</html>